.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.wrapper {
  background-color: var(--softBg);
  padding: 150px 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 10px;
}

.socialButton {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialButton::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 1);
  background: #6666666b;
  transition: all 1s;
}

.socialButton:hover::after {
  transform: scale(1, 1);
}

.socialButton:first-child {
  background-color: #ff5555;
}

.socialButton:nth-child(2) {
  background-color: #111;
}

.socialButton:nth-child(3) {
  background-color: #087bea;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    padding: 30px;
  }

  .socialButton {
    font-weight: 400;
    font-size: 14px;
  }
}
