.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45px;
  height: 22px;
  border-radius: 50px;
  cursor: pointer;
}

.ball {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
}
